
@font-face {
	font-family: 'Mina';
	font-style: normal;
	font-weight: regular;
	/* IE9 Compat Modes */
	src: url('/fonts/mina-regular.eot');
	src: local('Mina'), local('Mina-Normal'),
		/* IE6-IE8 */
		url('/fonts/mina-regular.eot'),
		/* Super Modern Browsers */
		url('/fonts/mina-regular.woff2')
		/* Modern Browsers */
		url('/fonts/mina-regular.woff'),
		/* Safari, Android, iOS */
		url('/fonts/mina-regular.ttf'),}


:root {
    --main-color: balck;
  }

.title {
	color: rgb(248, 248, 248);
    text-align: center;
    text-shadow: 0 0 5px turquoise,0 0 15px turquoise;
    font-family: 'Mina'
}

.info {
	font-size: 1em;
	line-height: 1.33em;
    color: rgb(252, 26, 26);
    text-align: center;
}

body {
	background-color: #fcfcfc;
}

.upload-zip {
	width: 80vw;
	max-width: 500px;
	display: inline-flex;
	justify-content: center;
    text-align: center;
}

.select-zip{
    text-align: center;
}


/*隐藏滚动条*/
::-webkit-scrollbar {
	display: none;
}


input[type="file"]{
	display: none;
}

button,
#select-zip,
input[type="button"] {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}


button,
input[type="button"],
input[type="file"]+label {
	background-color: #46fd65;
	color: #fff;
	border: none;
	border-radius: 2px;
	font-size: 1.0em;
	padding: 0.1em 0.6em;
	margin: 0.1em;
	cursor: pointer;
    border-radius:25px;
}

button:hover,
input[type="button"]:hover,
input[type="file"]+label:hover {
	background-color: #3efdfd;
}

button:active,
input[type="button"]:active,
input[type="file"]+label:active {
	background-color: #00b7ff;
}

#select div {
	display: inline-block;
}

#select{
    text-align: center;
}

#stage {
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
	margin: auto;
	width: 80vw;
	max-width: 854px;
	line-height: 0;
    text-align: center
}



#tips {
	color: gray;
	font-family: Mina, Consolas, Menlo, monospace;
	font-size: 4vmin;
	position: absolute;
	width: 70vmin;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	line-height: 1.5em;
}

.fade {
	opacity: 0 !important;
	visibility: hidden;
}


strong.error {
	color: #f00;
}

strong.warning {
	color: #fa0;
}

strong.accept {
	color: #080;
}

#msg-out,#qwq{
    text-align: center;
    color:rgb(113, 245, 96)
}